*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body
{
    width: 100%;
}
html
{
    scroll-behavior: smooth;
}
/* navbar starts */
nav
{
    /* border: 1px solid red; */
    padding: 20px;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 2px 0px 30px 10px rgba(225, 219, 219, 0.333);
    background-color: white;
}
nav ul
{
    /* border: 8px solid green; */
    display: inline;
    margin-left: 365px;
}
nav ul li
{
    /* border: 1px solid yellow; */
    display: inline;
}
nav .navbar-brand-logo
{
    margin-left: 90px;
    font-size: 30px;
    font-weight: bold;
    color: #24325d;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
nav ul li a
{
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    color: #24325d;
    transition: color .5s;
}
nav ul li a:hover
{
    color: #006fbe;
}
/* navbar ends */

.secondnav
{
    margin-top: 5%;
    height: 60px;
    background-color: rgba(95, 158, 160, 0.089);
    width: 100%;  
    display:flex;

    

}
.secondnav h2
{
    font-size: 28px;
    font-weight: 300px;
    margin-left: 8%;
    font-family: "Raleway", sans-serif;
    margin-top: 13px;
    color: slategrey;
}

.secondnav a
{
    text-decoration: none;
    color: #006fbe;
    margin-left: 825px;
    margin-top: 18px;
}

.secondnav a:hover
{
    color: skyblue;
}
.secondnav p
{
    margin-left: 10px;
    margin-top: 18px;
}
#about
{
    width: 100%;
    height: 400px;
    background-color: rgb(29,40,75);
    margin-top: 80px;
    text-align: center;
    color: white;

}

#about .final1 h1
{
font-size: 50px;
margin-top: 50px;
padding-top: 20px;
margin-bottom: 20px;
}

#about .final1 p
{
    font-style: italic;
    font-size: 18px;
    margin-bottom: 20px;
}

#about .final2 ul
{
display: flex;
padding-left: 530px;
margin-bottom: 20px;
/* text-align: center; */


}

#about .final2 ul li
{
    padding: 20px;
    font-size: 30px;
    
}
#about .final3 p

{
    margin-bottom: 10px;
}
#about .final3 #tr
{
    color: rgb(231, 224, 224);
    font-weight: bolder;
   
}
.album {
    /* border: 2px solid blue; */
    height: 1000px;
    width: 95%;
    margin-left: 90px;
    margin-top: 2px;
    margin-right: 30px;
    /* box-shadow: 2px 0px 30px 10px rgba(225, 219, 219, 0.333); */
    background-color: #ffffffb4;
    padding-left: 16px;
    padding-top: 50px;

}

.paper{
    
    width: 360px;
    height: 273px;
    position: relative;
    overflow: hidden;
    
}

.paper img {
    width: 100%;
    height: 100%;
}

.grid{
    width: 90%;
    height: 90%;
    margin-top: 14px;
    margin-left: 17px;
    margin-bottom: 10px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
    /* left: 0%;
    bottom: 0%;
    right: 0%; */
    transition: all 0.5s;
    opacity: 0;
    
}




.grid p{
    margin-top: 20px;
    font-size: 10px;
}

.grid i{
    font-weight: bold;
    margin-top: 10px;
}


.paper:hover .grid{
    transform: scale(1.2);
    opacity: 1;
    
}

i:hover{
    color: blue;
}



.grid::before{
    content: "";
    border-top: 2px solid white;
    border-left: 2px solid white;
    width: 50px;
    height: 50px;
    position: relative;
    right: 100px;
}

.grid::after{
    content: "";
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    width: 50px;
    height: 50px;
    position: relative;
    left: 100px;
}

.pages{
    display: flex;
  
}

.paper{
    margin-left: 30px;
    margin-top: 40px;
}

/* -------------------------album ends-------------------------------------------------------------------------- */
